# KDE Config File
[Desktop Entry]
Type=Application
Exec=artikulate -caption "%c" %i
Icon=artikulate
X-DocPath=artikulate/index.html
GenericName=ArtiKulate Pronunciation Trainer
GenericName[de]=ArtiKulate-Aussprachetrainer 
GenericName[nl]=ArtiKulate uitspraaktraining
GenericName[pt]=Treino de Pronúncia ArtiKulate
GenericName[pt_BR]=Treinador de Pronúncia ArtiKulate
GenericName[sk]=Tréner výslovnosti ArtiKulate
GenericName[sv]=ArtiKulate uttalsövning
GenericName[uk]=Навчання вимові ArtiKulate
GenericName[x-test]=xxArtiKulate Pronunciation Trainerxx
Terminal=false
Name=ArtiKulate
Name[cs]=ArtiKulate
Name[de]=ArtiKulate
Name[nl]=ArtiKulate
Name[pt]=ArtiKulate
Name[pt_BR]=ArtiKulate
Name[sk]=ArtiKulate
Name[sv]=ArtiKulate
Name[uk]=ArtiKulate
Name[x-test]=xxArtiKulatexx
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
