# KDE Config File
[Desktop Entry]
Type=Application
Exec=artikulate -caption %c %i
Icon=artikulate
X-DocPath=artikulate/index.html
GenericName=Artikulate Pronunciation Trainer
Terminal=false
Name=Artikulate
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
