# KDE Config File
[Desktop Entry]
Type=Application
Exec=artikulate -caption "%c" %i
Icon=artikulate
X-DocPath=artikulate/index.html
GenericName=Artikulate Pronunciation Trainer
GenericName[cs]=Artikulate - učitel výslovnosti
GenericName[pt]=Treino de Pronúncia Artikulate
GenericName[pt_BR]=Treinador de Pronúncia Artikulate
GenericName[sv]=Artikulate uttalsövning
GenericName[uk]=Навчання вимові Artikulate
GenericName[x-test]=xxArtikulate Pronunciation Trainerxx
Terminal=false
Name=Artikulate
Name[cs]=Artikulate
Name[pt]=Artikulate
Name[pt_BR]=Artikulate
Name[sv]=Artikulate
Name[uk]=Artikulate
Name[x-test]=xxArtikulatexx
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
