# KDE Config File
[Desktop Entry]
Type=Application
Exec=artikulate -qwindowtitle "%c" %i
Icon=artikulate
X-DocPath=artikulate/index.html
GenericName=Artikulate Pronunciation Trainer
GenericName[bs]=Artikulate vježba izgovora
GenericName[ca]=Entrenador de la pronunciació Artikulate
GenericName[ca@valencia]=Entrenador de la pronunciació Artikulate
GenericName[cs]=Artikulate - učitel výslovnosti
GenericName[da]=Artikulate udtaletræning
GenericName[de]=Artikulate-Aussprachetrainer 
GenericName[el]=Εκπαιδευτής προφοράς Artikulate
GenericName[en_GB]=Artikulate Pronunciation Trainer
GenericName[eo]=Artikulate Prononciada Trejnilo
GenericName[es]=Entrenador de pronunciación Artikulate
GenericName[et]=Häälduse harjutaja Artikulate
GenericName[fi]=Artikulate ääntämisen harjoitteluohjelma
GenericName[fr]=Programme Artikulate d'entraînement à la prononciation 
GenericName[gl]=Adestrador de pronuncia Artikulate
GenericName[hi]=आर्टिकुलेट उच्चारण प्रशिक्षक
GenericName[hu]=Artikulate kiejtés oktató
GenericName[ko]=Artikulate 발음 타이머
GenericName[mr]=आर्टिक्युलेट उच्चारण प्रशिक्षक
GenericName[nds]=Artikulate - Utspraak öven
GenericName[nl]=Artikulate Trainingsprogramma voor uitspraak
GenericName[nn]=Artikulate uttaleøving
GenericName[pl]=Trener artykułowanej wymowy
GenericName[pt]=Treino de Pronúncia Artikulate
GenericName[pt_BR]=Treinador de Pronúncia Artikulate
GenericName[ro]=Antrenor de pronunție Artikulate
GenericName[ru]=Тренер произношения Artikulate
GenericName[sk]=Tréner výslovnosti Artikulate
GenericName[sl]=Učenje izgovorjave Artikulate
GenericName[sv]=Artikulate uttalsövning
GenericName[te]=అర్టీక్యులెట్ ఉచ్చారణ శిక్షకీ
GenericName[tr]=Artikulate Telaffuz Eğitici
GenericName[uk]=Навчання вимові Artikulate
GenericName[x-test]=xxArtikulate Pronunciation Trainerxx
GenericName[zh_CN]=Artikulate 读音训练器
GenericName[zh_TW]=Artikulate 發音訓練師
Terminal=false
Name=Artikulate
Name[ast]=Artikulate
Name[bs]=Artikulate
Name[ca]=Artikulate
Name[ca@valencia]=Artikulate
Name[cs]=Artikulate
Name[da]=Artikulate
Name[de]=Artikulate
Name[el]=Artikulate
Name[en_GB]=Artikulate
Name[eo]=Artikulate
Name[es]=Artikulate
Name[et]=Artikulate
Name[fi]=Artikulate
Name[fr]=Artikulate
Name[gl]=Artikulate
Name[hi]=आर्टिकुलेट 
Name[hu]=Artikulate
Name[it]=Artikulate
Name[ko]=Artikulate
Name[mr]=आर्टिक्युलेट
Name[nds]=Artikulate
Name[nl]=Artikulate
Name[nn]=Artikulate
Name[pl]=Artikulate
Name[pt]=Artikulate
Name[pt_BR]=Artikulate
Name[ro]=Artikulate
Name[ru]=Artikulate
Name[sk]=Artikulate
Name[sl]=Artikulate
Name[sv]=Artikulate
Name[te]=అర్టీక్యులెట్
Name[tr]=Artikulate
Name[uk]=Artikulate
Name[x-test]=xxArtikulatexx
Name[zh_CN]=Artikulate
Name[zh_TW]=Artikulate
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
