<?xml version="1.0" encoding="UTF-8"?>
<gui name="artikulate"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>

    <Menu name="file" >
      <Action name="download_new_stuff" />
    </Menu>

    <Menu name="settings" >
      <Action name="settings" />
<!--       <Action name="config_learner_profile" /> -->
    </Menu>

  </MenuBar>

</gui>
